<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liquidación</title>

    <link rel="stylesheet" href="/css/liquidacion.css">
    <link rel="stylesheet" href="/css/botones.css">
    
</head>

<body>
    <h1 id="titulo"></h1>

    <div id="contenedorMain">


        <!-- hola valen -->
        


        <!-- horas -->
        <div id="contenedor1">
            <div id="divTituloHoras">
                <h2>HORAS</h1>
            </div>

            <div class="grupo" id="contenedorHoras">


                <div id="contHsIzq">
                    
                    <div class="divHoras">
                        <div class="numero">1</div>
                        <div class="divHorasInterior">
                            <label for="horas1">horas</label>
                            <input class="inputHoras" type="text" id="horas1" >
                        </div>
                        <div class="divHorasInterior">
                            <label for="minutos1">minutos</label>
                            <input class="inputHoras" type="text" id="minutos1">
                        </div>
                        <div class="divHorasInterior">
                            <label for="valorHora1">valorHora</label>
                            <input class="inputHoras" type="text" id="valorHora1">
                        </div>
                        <div class="divHorasInterior">
                            <label for="objetivo1">objetivo</label>
                            <input class="inputHoras" type="text" id="objetivo1">
                        </div>
                    </div>

                    <div class="divHoras">
                        <div class="numero">3</div>
                        <div class="divHorasInterior">
                            <label for="horas3">horas</label>
                            <input class="inputHoras" type="text" id="horas3">
                        </div>
                        <div class="divHorasInterior">
                            <label for="minutos3">minutos</label>
                            <input class="inputHoras" type="text" id="minutos3">
                        </div>
                        <div class="divHorasInterior">
                            <label for="valorHora3">valorHora</label>
                            <input class="inputHoras" type="text" id="valorHora3">
                        </div>
                        <div class="divHorasInterior">
                            <label for="objetivo3">objetivo</label>
                            <input class="inputHoras" type="text" id="objetivo3">
                        </div>
                    </div>

                    <div class="divHoras">
                        <div class="numero">5</div>
                        <div class="divHorasInterior">
                            <label for="horas5">horas</label>
                            <input class="inputHoras" type="text" id="horas5">
                        </div>
                        <div class="divHorasInterior">
                            <label for="minutos5">minutos</label>
                            <input class="inputHoras" type="text" id="minutos5">
                        </div>
                        <div class="divHorasInterior">
                            <label for="valorHora5">valorHora</label>
                            <input class="inputHoras" type="text" id="valorHora5">
                        </div>
                        <div class="divHorasInterior">
                            <label for="objetivo5">objetivo</label>
                            <input class="inputHoras" type="text" id="objetivo5">
                        </div>
                    </div>

                    <div class="divHoras">
                        <div class="numero">7</div>
                        <div class="divHorasInterior">
                            <label for="horas7">horas</label>
                            <input class="inputHoras" type="text" id="horas7">
                        </div>
                        <div class="divHorasInterior">
                            <label for="minutos7">minutos</label>
                            <input class="inputHoras" type="text" id="minutos7">
                        </div>
                        <div class="divHorasInterior">
                            <label for="valorHora7">valorHora</label>
                            <input class="inputHoras" type="text" id="valorHora7">
                        </div>
                        <div class="divHorasInterior">
                            <label for="objetivo7">objetivo</label>
                            <input class="inputHoras" type="text" id="objetivo7">
                        </div>
                    </div>

                    <div class="divHoras">
                        <div class="numero">9</div>
                        <div class="divHorasInterior">
                            <label for="horas9">horas</label>
                            <input class="inputHoras" type="text" id="horas9">
                        </div>
                        <div class="divHorasInterior">
                            <label for="minutos9">minutos</label>
                            <input class="inputHoras" type="text" id="minutos9">
                        </div>
                        <div class="divHorasInterior">
                            <label for="valorHora9">valorHora</label>
                            <input class="inputHoras" type="text" id="valorHora9">
                        </div>
                        <div class="divHorasInterior">
                            <label for="objetivo9">objetivo</label>
                            <input class="inputHoras" type="text" id="objetivo9">
                        </div>
                    </div>
                </div>



                <div id="contHsDer">
                    <div class="divHoras">
                        <div class="numero">2</div>
                        <div class="divHorasInterior">
                            <label for="horas2">horas</label>
                            <input class="inputHoras" type="text" id="horas2">
                        </div>
                        <div class="divHorasInterior">
                            <label for="minutos2">minutos</label>
                            <input class="inputHoras" type="text" id="minutos2">
                        </div>
                        <div class="divHorasInterior">
                            <label for="valorHora2">valorHora</label>
                            <input class="inputHoras" type="text" id="valorHora2">
                        </div>
                        <div class="divHorasInterior">
                            <label for="objetivo2">objetivo</label>
                            <input class="inputHoras" type="text" id="objetivo2">
                        </div>
                    </div>

                    <div class="divHoras">
                        <div class="numero">4</div>
                        <div class="divHorasInterior">
                            <label for="horas4">horas</label>
                            <input class="inputHoras" type="text" id="horas4">
                        </div>
                        <div class="divHorasInterior">
                            <label for="minutos4">minutos</label>
                            <input class="inputHoras" type="text" id="minutos4">
                        </div>
                        <div class="divHorasInterior">
                            <label for="valorHora4">valorHora</label>
                            <input class="inputHoras" type="text" id="valorHora4">
                        </div>
                        <div class="divHorasInterior">
                            <label for="objetivo4">objetivo</label>
                            <input class="inputHoras" type="text" id="objetivo4">
                        </div>
                    </div>

                    <div class="divHoras">
                        <div class="numero">6</div>
                        <div class="divHorasInterior">
                            <label for="horas6">horas</label>
                            <input class="inputHoras" type="text" id="horas6">
                        </div>
                        <div class="divHorasInterior">
                            <label for="minutos6">minutos</label>
                            <input class="inputHoras" type="text" id="minutos6">
                        </div>
                        <div class="divHorasInterior">
                            <label for="valorHora6">valorHora</label>
                            <input class="inputHoras" type="text" id="valorHora6">
                        </div>
                        <div class="divHorasInterior">
                            <label for="objetivo6">objetivo</label>
                            <input class="inputHoras" type="text" id="objetivo6">
                        </div>
                    </div>

                    <div class="divHoras">
                        <div class="numero">8</div>
                        <div class="divHorasInterior">                            
                            <label for="horas8">horas</label>
                            <input class="inputHoras" type="text" id="horas8">
                        </div>
                        <div class="divHorasInterior">
                            <label for="minutos8">minutos</label>
                            <input class="inputHoras" type="text" id="minutos8">
                        </div>
                        <div class="divHorasInterior">
                            <label for="valorHora8">valorHora</label>
                            <input class="inputHoras" type="text" id="valorHora8">
                        </div>
                        <div class="divHorasInterior">
                            <label for="objetivo8">objetivo</label>
                            <input class="inputHoras" type="text" id="objetivo8">
                        </div>
                    </div>

                    <div class="divHoras">
                        <div class="numero">10</div>
                        <div class="divHorasInterior">
                            <label for="horas10">horas</label>
                            <input class="inputHoras" type="text" id="horas10">
                        </div>
                        <div class="divHorasInterior">
                            <label for="minutos10">minutos</label>
                            <input class="inputHoras" type="text" id="minutos10">
                        </div>
                        <div class="divHorasInterior">
                            <label for="valorHora10">valorHora</label>
                            <input class="inputHoras" type="text" id="valorHora10">
                        </div>
                        <div class="divHorasInterior">
                            <label for="objetivo10">objetivo</label>
                            <input class="inputHoras" type="text" id="objetivo10">
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="grupo" id="contenedorValores">
            <div id="contenedorValoresArriba">

                <div id="contenedor2">
                    <div id="divTituloSuman">
                        <h2>SUMAN</h1>
                    </div>
                    <div class="ValoresIzqDer">
                        <!-- suman -->
                        <div class="contenedorSumaResta">
                            <div class="SubValoresIzqDer">
                                <label class="labelValores" for="bonificaciones">bonificaciones</label>
                                <input type="text" id="bonificaciones" disabled>
                                <label class="labelValores" for="presentismo">presentismo</label>
                                <input type="text" id="presentismo">
                                <label class="labelValores" for="nocturnidad">nocturnidad</label>
                                <input type="text" id="nocturnidad">
                                <label class="labelValores" for="nocturnidadEventual">nocturnidadEventual</label>
                                <input type="text" id="nocturnidadEventual">
                                <label class="labelValores" for="bonificacionFeriados">bonificacionFeriados</label>
                                <input type="text" id="bonificacionFeriados">
                                <label class="labelValores" for="reconocimientoHoras">reconocimientoHoras</label>
                                <input type="text" id="reconocimientoHoras">
                            </div>
                            <div class="SubValoresIzqDer">
                                <label class="labelValores" for="carpetaMedica">carpetaMedica</label>
                                <input type="text" id="carpetaMedica">
                                <label class="labelValores" for="hsVacaciones">hsVacaciones</label>
                                <input type="text" id="hsVacaciones">
                                <label class="labelValores" for="horasAdeudadas">horasAdeudadas</label>
                                <input type="text" id="horasAdeudadas">
                                <label class="labelValores" for="licenciaMaternidad">licenciaMaternidad</label>
                                <input type="text" id="licenciaMaternidad">
                                <label class="labelValores" for="horasPractica">horasPractica</label>
                                <input type="text" id="horasPractica">
                                <label class="labelValores"
                                    for="reintegroCuotasSociales">reintegroCuotasSociales</label>
                                <input type="text" id="reintegroCuotasSociales">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="contenedor3">
                    <div id="divTituloRestan">
                        <h2>DEDUCCIONES</h1>
                    </div>
                    <div class="ValoresIzqDer">
                        <!-- restan -->
                        <div class="contenedorSumaResta">
                            <div class="SubValoresIzqDer">
                                <label class="labelValores" for="cuotaSocial">cuotaSocial</label>
                                <input type="text" id="cuotaSocial" disabled>
                                <label class="labelValores" for="seguroAccPer_Vida">seguroAccPer_Vida</label>
                                <input type="text" id="seguroAccPer_Vida">
                                <label class="labelValores" for="retenMonotriPer">retenMonotriPer</label>
                                <input type="text" id="retenMonotriPer">
                                <label class="labelValores" for="seguroVidaOblig">seguroVidaOblig</label>
                                <input type="text" id="seguroVidaOblig">
                                <label class="labelValores" for="adelanto">adelanto</label>
                                <input type="text" id="adelanto" disabled>
                                <label class="labelValores" for="prestamo">prestamo</label>
                                <input type="text" id="prestamo">
                                <label class="labelValores" for="cuotaActual">cuotaActual</label>
                                <input type="text" id="cuotaActual" disabled>
                                <label class="labelValores" for="interes">interes</label>
                                <input type="text" id="interes" disabled>
                                <label class="labelValores" for="costoHabilitacion">costoHabilitacion</label>
                                <input type="text" id="costoHabilitacion">
                                <label class="labelValores" for="aptoPsiFi">aptoPsiFi</label>
                                <input type="text" id="aptoPsiFi">
                            </div>
                            <div class="SubValoresIzqDer">
                                <label class="labelValores" for="credisolCS">credisolCS</label>
                                <input type="text" id="credisolCS">
                                <label class="labelValores" for="credisolCC">credisolCC</label>
                                <input type="text" id="credisolCC">
                                <label class="labelValores" for="creditoGUPAServicioSAS">creditoGUPAServicioSAS</label>
                                <input type="text" id="creditoGUPAServicioSAS">
                                <label class="labelValores" for="almacen">almacen</label>
                                <input type="text" id="almacen">
                                <label class="labelValores" for="embargoJudicial">embargoJudicial</label>
                                <input type="text" id="embargoJudicial">
                                <label class="labelValores" for="depositoExceso">depositoExceso</label>
                                <input type="text" id="depositoExceso">
                                <label class="labelValores" for="descuentoRoturaPerdida">descuentoRoturaPerdida</label>
                                <input type="text" id="descuentoRoturaPerdida">
                                <label class="labelValores" for="calzado">calzado</label>
                                <input type="text" id="calzado">
                                <label class="labelValores" for="adherenteMonotributo">adherenteMonotributo</label>
                                <input type="text" id="adherenteMonotributo">
                            </div>


                        </div>
                    </div>

                </div>
            </div>

            <div id="contenedorValoresAbajo">
                <!-- Totales -->
                <div class="" id="contenedorTotales">
                    <div class="grupitosTotales">
                        <label for="totalBruto">totalBruto</label>
                        <input type="text" id="totalBruto">
                    </div>
                    <div class="grupitosTotales">
                        <label for="totalDeducciones">totalDeducciones</label>
                        <input type="text" id="totalDeducciones">
                    </div>
                    <div class="grupitosTotales">
                        <label for="totalAnticipo">totalAnticipo</label>
                        <input type="text" id="totalAnticipo">
                    </div>
                </div>

                <div id="divBtnGuardar">
                    <button class="grupo" id="btnGuardar">guardar</button>
                </div>
            </div>
        </div>
    </div>

    



    <script src="/script/liquidacion.js"></script>
</body>

</html>